---
layout: default
---


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- ALL ICONS LINK HERE: https://github.com/goodinc/ctzn-ui/tree/gh-pages/assets/images/icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
crossorigin="anonymous" referrerpolicy="no-referrer" />



<style>
    /* Force scrollbars onto browser window */
    /* body {
    margin-bottom: 200%;
    } */
    
    /* Box styles */
    .myBox {
    border: solid #E6E6E6;
    /* border-style: dotted; */
    /* border-color: #666666; */
    border-width: 0.5px;
    padding: 5px;
    /* font: 24px/36px sans-serif; */
    width: 100%;
    height: 800px;
    overflow: scroll;
    }
    
    /* Scrollbar styles */
    ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    /* ::-webkit-scrollbar-track { */
    /* border: 0.5px solid var(--brand-color); */
    /* border: 0.5px solid; */
    /* border-radius: 10px; */
    /* } */
    
    ::-webkit-scrollbar-thumb {
    background: var(--brand-color);  
    border-radius: 5px;
    }

</style>

<div class="wrapper">
    
    <div class="top">

        <div class="about-col-1">
            <img 
            class="user-picture"
            src="/assets/images/profile.jpeg"
            alt="Hua Shen" >
        </div>
    
        <div class="about-col-2">
            <h2><a class="post-name">Hua Shen 申华</a></h2>
            <span> Ph.D Candidate @PennState</span>
        </div>

    </div>


    <div class="homemain" style="text-align:center;">

        <br>

        <span class="cl-item" style="font-size:1.15rem;">
            {% include _icons/scholar.html username=' zFjlv1sAAAAJ&hl=en' %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>

        <span class="cl-item" style="font-size:1.15rem;">
            {% include _icons/github.html username='Codes' %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>

        <span class="cl-item" style="font-size:1.15rem;">
            {% include _icons/twitter.html username=' Twitter' %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>

        <span class="cl-item" style="font-size:1.15rem;">
            {% include _icons/instagram.html username='Instagram' %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>

        <span class="cl-item" style="font-size:1.15rem;">
            {% include _icons/email.html username=' huashen218@psu.edu' %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>



    </div>
    

    <div class="homemain">

    <br>



    <div class="short-bio">
        <span class="subtitle" style="font-weight:800;">SHORT BIO</span>
        <p>Hi there&#129303;! I am a fourth-year Ph.D. student at <a class="post-link" href="https://www.psu.edu/">PennState University</a> working on <a class="post-link" href="">Explainable AI</a> within the <a class="post-link" href="">NLP + HCI</a> areas. I am fortunate to be advised by <a class="post-link" href="https://crowd.ist.psu.edu/">Dr. Ting-hao (Kenneth) Huang</a> at the terrific <a class="post-link" href="https://crowd.ist.psu.edu/crowd-ai-lab.html">CrowdAI Lab</a>.
            I'm also closely working with <a class="post-link" href="https://www.cs.cmu.edu/~sherryw/">Dr. Sherry Tongshuang Wu</a> from <a class="post-link" href="https://www.cs.cmu.edu/">CMU</a> fortunately. Additionally, I appreciate the wonderful year working with <a class="post-link" href="http://www.cse.lehigh.edu/~brian/">Dr. Brian D. Davison</a> at Lehigh University.
            Before this, I've received my M.S. and B.S. degrees from the <a class="post-link" href="https://www.ruc.edu.cn/en">Renmin University of China</a> and <a class="post-link" href="https://en.ustb.edu.cn/">University of Science and Technology Beijing</a>, respectively.</p>
            <!-- <p class="pubindent text-primary" style="color:#D84C19; font-weight: bold; font-size: large;"><i class="fa-solid fa-star"></i> I'm open to a postdoc or an industrial position, please ping me if you know there's a good fit. Thanks&#129303! </p> -->
        </div>

    <div class="research-interest">
        <span class="subtitle" style="font-weight:800;">RESEARCH INTEREST</span>
        <p>I am broadly interested in the research about human-centered AI explanation and fairness, human-AI alignment and interaction, AI-assisted learning support systems, conversational AI, etc.</p>
        <!-- <p>I am broadly interested in the area of <strong>Human-AI Interaction</strong>. My current research interests lie in facilitating the <strong>usefulness of explainable AI algorithms</strong> from <strong>human-centered</strong> perspective. I'm particularly interested in improving <strong>human-centered AI interpretability</strong> and <strong>fairness</strong> in speech and natural language processing, conversational AI, and other deep learning fields. -->
        </p>

        <p>
            Also, I've conducted much speech processing research during my research interns with the fantastic <a class="post-link" href="https://ai.google/research/">Google AI Research</a> and <a class="post-link" href="https://www.amazon.science/tag/alexa">Amazon Alexa AI</a> teams. 
            My amazing advisors include <a class="post-link" href="https://scholar.google.com/citations?user=NK36Tw0AAAAJ&hl=en">Dr. Andreas Stolcke</a>,  <a class="post-link" href="https://scholar.google.com/citations?user=BVVJvoMAAAAJ&hl=en">Dr. Vicky Zayats</a>, <a class="post-link" href="https://scholar.google.com/citations?user=OhoBnX8AAAAJ&hl=en">Dr. Yuguang Yang</a>,  <a class="post-link" href="https://www.linkedin.com/in/jari-kolehmainen-43514b85/">Dr. Jari Kolehmainen</a>, etc. I appreciate all of them <a class="post-link" href="https://hua-shen.org/src/misc.html">here</a>!
        </p>

    </div>

    
    <br>
    <span class="subtitle" style="font-weight:800; overflow-y:scroll;">NEWS</span>
    <!-- <div class="video" id="video" style="overflow-y:auto"> -->
    <br>
    <div class="video myBox" id="video">
        <!-- <br> -->
        <li style="text-align:left">
            <span class="new-date">Jun-2023</span> Our <a class="post-link" href="/assets/files/ConvXAI_Arxiv.pdf">ConvXAI<img src="../assets/images/convxai_logo.png" style="width:30px;height:20px;"></a> paper is accepted by <a class="post-link" href="https://cscw.acm.org/2023/index.php/submit-demos/">CSCW 2023 Demo</a>!🥳 Please see the project combo (i.e., <a class="post-link" href="https://hua-shen.org/src/publications.html">papers, system code, unified XAI API, live demo, and video</a>) of this exciting work :)
        </li>
        <li style="text-align:left">
            <span class="new-date">Jun-2023</span> See our new <a class="post-link" href="http://127.0.0.1:4000/assets/files/hcomp2023.pdf">pre-print paper</a> -- conducting human collaborative evaluation (i.e., turing test resemblance) on distinguishing LLM-generated v.s. Human-written texts!
        </li>
        <li style="text-align:left">
            <span class="new-date">Jun-2023</span> Excited to serve on the PC member of the <a class="post-link" href="https://sites.google.com/view/aihci/home?authuser=0">ICML 2023 AI and HCI Workshop</a>, and reviewer of <a class="post-link" href="https://2023.emnlp.org/">EMNLP 2023</a>. Thanks for your invitation!
        </li>
        <li style="text-align:left">
            <span class="new-date">May-2023</span> Thrilled to give an on-site talk at <a class="post-link" href="https://www.princeton.edu/">Princeton University</a> and enjoyed the wonderful time meeting with amazing professors and students in Looking Glass Lab and <a class="post-link" href="https://visualai.princeton.edu/">Visual AI Lab</a>!
        </li>
        <li style="text-align:left">
            <span class="new-date">Mar-2023</span> Our <a class="post-link" href="https://arxiv.org/abs/2302.07346">ScatterShot</a> paper got <a class="post-link" href="">Best Paper Honorable Mention Award</a>. Thank you to my co-authors and the IUI chairs!
        </li>

        <br>

        <div>
            <p align="center">
                
                <iframe width="650" height="402" src="https://www.youtube.com/embed/videoseries?list=PLmXhjX5RLPjlP6CC8qi9bDfRs8Pu0QGuz&loop=1" title="Research Presentation Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
            </p>
        </div>
        
        <li style="text-align:left">
            <span class="new-date">Mar-2023</span> Our paper,  <a class="post-link" href="https://arxiv.org/pdf/2303.06333.pdf">Parachute: Evaluating Interactive Human-LM Co-writing Systems</a> is accepted by <a class="post-link" href="https://in2writing.glitch.me/">CHI 2023 In2Writing Workshop</a>. Thanks to my advisors' support.
            Thrilled to meet my HCI friends @Hamburg this April/2023!
        </li>
        <!-- <li style="text-align:left"> -->
            <!-- <span class="new-date">Feb-2023</span> Our paper, <a class="post-link" href="https://arxiv.org/abs/2302.07346">ScatterShot: Interactive In-context Example Curation for Text Transformation</a> is accepted by <a class="post-link" href="https://iui.acm.org/2023/">IUI 2023</a>. Thank you to all my co-authors! -->
        <!-- </li> -->
        <li style="text-align:left">
            <span class="new-date">Jan-2023</span> I gave a talk in <a class="post-link" href="https://ai.google/research/">Google Research</a> for my intern project. Thanks for my dear mentors' and friends' participation and support!
        </li>
        <li style="text-align:left">
            <span class="new-date">Dec-2022</span> I serve as a <a class="post-link" href="">PC member</a> of the NLP Interpretability Track for <a class="post-link" href="https://2023.aclweb.org/">ACL 2023</a>. Glad to review amazong works submitted to ACL 2023!
        </li>
        <li style="text-align:left">
            <span class="new-date">Sep-2022</span> I'm glad to give a talk at the <a class="post-link" href="https://nlp.nd.edu/nlplus/2022/09/26/shen.html">Notre Dame NL+</a> seminar on and share our latest work on Human-centered Explainable AI. Look forward to meeting and discussing with Notre Dame NLPer friends!
        </li>
        <li style="text-align:left">
            <span class="new-date">Sep-2022</span> I will join <a class="post-link" href="https://ai.google/research/">Google AI</a> as a researcher intern during the Fall semester. Would love to meet more old and new friends at Seattle again!
        </li>
        <li style="text-align:left">
            <span class="new-date">Aug-2022</span> Accepted the reviewer invitation from the <a class="post-link" href="https://humaneval-workshop.github.io/">NeurIPS 2022 Workshop on Human Evaluation of Generative Models</a>. Looking forward to reviewing the papers in this amazing workshop!
        </li>
        <li style="text-align:left">
            <span class="new-date">Aug-2022</span> I passed my Ph.D. comprehensive exam and become a Ph.D. candidate! I appreciate all the valuable feedbacks from my dear committee members including <a class="post-link" href="https://crowd.ist.psu.edu/">Dr. Ting-hao (Kenneth) Huang</a>, <a class="post-link" href="https://mrosson.ist.psu.edu/">Dr. Mary Beth Rosson</a>, <a class="post-link" href="https://clgiles.ist.psu.edu/">Dr. C. Lee Giles</a>, <a class="post-link" href="https://www.bellisario.psu.edu/people/individual/s.-shyam-sundar">Dr. S. Shyam Sundar</a>, <a class="post-link" href="https://www.cs.cmu.edu/~sherryw/">Dr. Sherry Tongshuang Wu</a>. Thank you all!
        </li>
        <li style="text-align:left">
            <span class="new-date">July-2022</span> I'm serving as a review <a class="post-link" href="">committee member</a> for the Interpretability track at <a class="post-link" href="https://2022.emnlp.org/">EMNLP 2022</a>. Thank the co-chairs for your nice invitation!
        </li>
        <li style="text-align:left">
            <span class="new-date">July-2022</span> I'm attending <a class="post-link" href="https://2022.naacl.org/">NAACL 2022</a> in person. Excited to meeting amazing NLPer friends again at Seattle!
        </li>
        <li style="text-align:left">
            <span class="new-date">May-2022</span> I'm joining <a class="post-link" href="https://www.amazon.science/tag/alexa">Amazon Alexa AI ASR Language Modeling</a> team as an applied scientist intern in May and will move to Seattle during the summer!
        </li>
        <li style="text-align:left">
            <span class="new-date">Apr-2022</span> I'm attending <a class="post-link" href="https://chi2022.acm.org/">CHI'22</a> in person. Looking forward to hanging out with my old and new friends in New Orleans!
        </li>
        <li style="text-align:left">
            <span class="new-date">Feb-2022</span> Our short paper, <a class="post-link" href="/assets/files/ACL2022_LimitedInk.pdf">Are Shortest Rationales the Best Explanations for Human Understanding?</a> is accepted by <a class="post-link" href="https://www.2022.aclweb.org/">ACL 2022 main conference</a>. Thank you, my co-authors and advisor!
        </li>
        <li style="text-align:left">
            <span class="new-date">Jan-2022</span> Our paper, <a class="post-link" href="https://arxiv.org/abs/2202.11323">Improving Fairness in Speaker Verification via Group-adapted Fusion Network</a> is accepted by <a class="post-link" href="https://2022.ieeeicassp.org/">ICASSP 2022</a>. Thank you to all my advisors!
        </li>

        <!-- <div>
            <p align="center">
                
                <iframe width="650" height="402" src="https://www.youtube.com/embed/videoseries?list=PLmXhjX5RLPjlP6CC8qi9bDfRs8Pu0QGuz&loop=1" title="Research Presentation Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
            </p>
        </div> -->

        <li style="text-align:left">
            <span class="new-date">Aug-2021</span> I am fortunately nominated for <a class="post-link" href="https://www.microsoft.com/en-us/research/academic-program/phd-fellowship/#!canada-us">Microsoft Research PhD Fellowship</a> by the office of the department chair at The PennState University. Thank you!
        </li>
        <li style="text-align:left">
            <span class="new-date">May-2021</span> Our paper on <a class="post-link" href="https://arxiv.org/abs/2103.14973">analyzing gaps between user needs and NLP explanations</a> is accepted by <a class="post-link" href="https://hcxai.jimdosite.com/">CHI'21 HCXAI Workshop</a> as an oral presentation. Our <a class="post-link" href="https://arxiv.org/abs/2103.14973">Paper</a> and the <a class="post-link" href="https://human-centered-exnlp.github.io/">Website</a> are available!
        </li>
        <li style="text-align:left">
            <span class="new-date">Mar-2021</span> I will join <a class="post-link" href="https://www.amazon.science/tag/alexa">Amazon Alexa AI</a> research group as an <a class="post-link" href="https://www.amazon.science/tag/alexa">Applied Scientist Intern</a> in 2021 summer! I appreciate everyone who helped me and look forward to joining the research team to learn!
        </li>
        <li style="text-align:left">
            <span class="new-date">Feb-2021</span> I serve as a PC member of the NLP Interpretability Track for <a class="post-link" href="https://2021.aclweb.org/">ACL-IJCNLP 2021</a>. Grateful to my First-time ACL reviewer mentor, <a class="post-link" href="https://homes.cs.washington.edu/~marcotcr/">Dr. Marco Tulio Ribeiro</a>, Thank you, ACL'21!
        </li>
        <li style="text-align:left">
            <span class="new-date">Feb-2021</span> PennState IST award for Graduate Student Travel Grant on our <a class="post-link" href="https://arxiv.org/abs/2008.11721">AI Interpretation work</a>. Thank you, IST!
        </li>

        <li>
            <span class="new-date">Oct-2020</span> <a class="post-link" href="https://news.psu.edu/story/636629/2020/10/26/research/users-don%E2%80%99t-understand-computer-explanations-image-labeling-errors?fbclid=IwAR1WIcDGvzJpH2kHAaiRhaw5j4v3AFS38duqM4IfgaWROqrwFXNXpiK78yQ">Penn State News</a> wrote a nice post about our <a class="post-link" href="https://arxiv.org/abs/2008.11721">AI Interpretation work</a>. Thank you, PennState!
        </li>

        <li>
            <span class="new-date">Oct-2020</span> Our paper on <a class="post-link" href="https://arxiv.org/abs/2008.11721">usefulness evaluatation for AI interpretations</a> is accepted by <a class="post-link" href="https://www.humancomputation.com">HCOMP 2020</a>!
            I will present our work with a talk at <a class="post-link" href="https://www.humancomputation.com/program.html">HCOMP</a> on Oct 28, 2020. 
        </li>
    
        <li>
            <span class="new-date">May-2020</span> I passed the Ph.D. Qualifying Exam of <a class="post-link" href="https://ist.psu.edu/">IST College at PennState</a>!
        </li>

    </div>



    </div>
    


</div>




