---
layout: default
---

<!-- ALL ICONS LINK HERE: https://github.com/goodinc/ctzn-ui/tree/gh-pages/assets/images/icons -->
     
<div class="wrapper">
    
    <div class="top">

        <div class="about-col-1">
            <img 
            class="user-picture"
            src="/assets/images/profile.jpeg"
            alt="Hua Shen" >
        </div>
    
        <div class="about-col-2">
            <h2><a class="post-name">Hua Shen</a></h2>
            <span> Ph.D Candidate @PennState</span>
            <!-- <span> XAI Researcher @PennState</span> -->
        </div>

    </div>


    <div class="homemain">

        <br>

        <span class="cl-item">
            {% include _icons/github.html username='Codes' %}
        </span>

        <span class="cl-item">
            {% include _icons/scholar.html username=' zFjlv1sAAAAJ&hl=en' %}     
        </span>

        <span class="cl-item">
            {% include _icons/twitter.html username=' @SarahHShen1' %}
        </span>

        <span class="cl-item">
            {% include _icons/email.html username=' huashen218@psu.edu' %}
        </span>

    </div>
    

    <div class="homemain">

    <br>


    <div class="short-bio">
        <span class="subtitle">SHORT BIO</span>
        <p>Currently, I am a Ph.D. Candidate in <a class="post-link" href="https://ist.psu.edu/">IST College</a> at <a class="post-link" href="https://www.psu.edu/">PennState University</a>, I am fortunate to be advised by <a class="post-link" href="https://crowd.ist.psu.edu/">Prof. Ting-hao (Kenneth) Huang</a> at <a class="post-link" href="https://crowd.ist.psu.edu/crowd-ai-lab.html">CrowdAI Lab</a>. I appreciate the wonderful years advised by <a class="post-link" href="https://www.alpslab.ai/">Prof. Ting Wang</a> from IST at PennState, and co-advised by <a class="post-link" href="http://www.cse.lehigh.edu/~brian/">Prof. Brian D. Davison</a> from CSE at Lehigh University.</p>
    </div>
    
    

    <div class="research-interest">
        <span class="subtitle">RESEARCH INTEREST</span>
        <p>I am interested in general area of <strong>AI</strong> and <strong>HCI</strong>. 
            Particularly, my focus is <strong>Human-centric AI interpretation</strong>, 
            including <strong>buiding human-friendly interpretation methods</strong> or <strong>helping human better percieve interpretation.</strong>
            <!-- I believe <em>helping everyone understand AI is of importance to fully unleash the AI benefits</em>.</p> -->
            I believe <em>developing AI explanation from human persepctive is of importance to make AI interpretable to everyone</em>.</p>
    </div>
    
    
    <br>

    <div class="video">
        <span class="subtitle">VIDEO</span>
    
        <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DlpQBTmQlcM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>


    <br>
    

    <!-- <div>
        <span class="subtitle">NEWS</span>
        <li>
        Our new paper on <a class="post-link" href="https://arxiv.org/abs/2008.11721">evaluating the usefulness of AI interpretations</a> is accepted by HCOMP 2020!
        </li>
        <li>
        Passed the qualifying exam!
        </li>
    </div> -->


    </div>
    


</div>




