<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hua Shen</title>
    <meta name="description" content="description.">
    
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="canonical" href="http://localhost:4000/">
    <link rel="alternate" type="application/rss+xml" title="Hua Shen" href="/feed.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- <link rel="icon" href="/assets/images/favicon-32x32.png" sizes="16x16" type="image/png"> -->
    <link rel="icon" href="/assets/images/lab_icon.png" sizes="16x16" type="image/png">
</head>