<nav>
    <ul class="nav-list ">
        <li><a class="page-link" href="/index.html" style="font-size: 20px">About</a></li>
        <li><a class="page-link" href="/src/publications.html" style="font-size: 20px">Publications</a></li>
        <li><a class="page-link" href="/src/misc.html" style="font-size: 20px">Service & Talks</a></li>
        <li><a class="page-link" href="/src/teaching.html" style="font-size: 20px">Teaching</a></li>
        <li><a class="page-link" href="/src/bialign_lab.html" style="font-size: 20px">Lab Openings</a></li>
        <!-- <li><a class="page-link" href="/assets/files/CV.pdf" target="_blank">CV</a></li> -->
    </ul>
</nav>
